.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    
  }
  
  .container-pages {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  
      padding: 15px;
  
      background-color: burlywood;
      
  }
  
  .wrap-pages {
      width: 390px;
      background-color: #3333;
      border-radius: 10px;
  
      overflow: hidden;
      padding: 77px 55px 33px 55px;
  
      box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.5);
      
  }